<h4>Who We Are</h4>

<h6 class="fw-light mb-3 px-2" style="text-align: justify">
  Welcome to
  <span class="fs-5 text-primary">
    <i class="fa-solid fa-car me-2"></i>
    Auto Trends
  </span>
  , Vizag’s premier wholesale and retail dealer of top-quality car care and accessories. With a rich legacy spanning many years, we take
  pride in our attention to detail and our commitment to offering the best products in the industry at competitive prices.
</h6>

<h6 class="fw-light mb-4 px-2" style="text-align: justify">
  Studies show that the average Indian spends at least 200 minutes a day in their car, which accounts for 20% of their waking hours. Our
  goal is to make your time spent in your "second home" as comfortable and enjoyable as possible. Upgrading cars is our passion, and we
  invite you to explore our online catalog or visit our store today!
</h6>

<div class="row mx-2">
  <h4 class="text-muted border-bottom pb-2 mb-2 d-flex col-12">
    Categories
    <button class="btn btn-danger ms-auto" (click)="openAddOrEditModal(idealCard, false)">Add New</button>
  </h4>
  <div class="col-md-6 col-xl-3" *ngFor="let card of cards; let first = first; let last = last; let index = index">
    <app-category-card
      (movePrevious)="movePrevious(index)"
      (edit)="openAddOrEditModal(card)"
      (remove)="remove(index)"
      (moveNext)="moveNext(index)"
      [headerColor]="card.color"
      [last]="last"
      [first]="first"
      [img]="card.img"
      [description]="card.text"
      [title]="card.title"
    />
  </div>
</div>
